<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form action="#" method="post" class="form-horizontal">
    <check if="{{ isset(@errors['color']) }}">
        <p>{{ @errors['color'] }}</p>
    </check>
    <select class="form-control" name="color" id="color">
        <option>--Select a color--</option>
        <repeat group="{{ @colors }}" value="{{ @colorOption }}">
            <check if="{{ @colorOption == @color }}">selected</check>
            <option>{{ @colorOption }}</option>
        </repeat>
    </select>
</form>
</body>
</html>