<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order a Pet</title>
</head>
<body>
<h1>Order a Pet</h1>
<form action="#" method="post" class="form-horizontal">

    <!-- get animal info -->
    <div class="form-group">
        <label for="animal" class="col-sm-2 control-label">Animal would you like? </label>
        <label for="color" class="col-sm-2 control-label">What color would you like it? </label>

        <div class="col-sm-4">
            <input class="form-control" type="text" name="animal" id="animal">
            <input class="form-control" type="text" name="color" id="color">
        </div>
    </div>

    <div class="col-xs-3 ">
        <input class="form-control btn btn-default"
               type="submit" value="Place Order">
    </div>
</form>
</body>
</html>